@import url('https://fonts.googleapis.com/css?family=Lato:900|Montserrat');
* {
    font-family: 'Montserrat', sans-serif;
}
.logo{
    width: 180px;
    margin: 5px 0px 0px 5px;
}
.more_arrow{
    font-size: 2.4em;
    margin: 0px 15px 0px 5px; 
}

hr{
    height: 1px;
    background-color: black;
}
.event{
    padding: 0px 0px 0px 5px;
}
.main_img{
    width: 95%;
    padding: 0px 0px 0px 0px;
}
.category_text{
    display: block;
    float: left;
}
h2{
    text-align: right;
    display: block;
}
.readmore{
    font-size: 0.5em;
}

