@import url('https://fonts.googleapis.com/css?family=Lato:900|Montserrat');
* {
    font-family: 'Montserrat', sans-serif;
}

.logo {
    width: 180px;
    margin: 5px 0px 0px 5px;
}

.more_arrow {
    font-size: 2.4em;
    margin: 0px 15px 0px 5px;
}

hr {
    height: 1px;
    background-color: black;
}

.event {
    padding: 0px 0px 0px 5px;
}

.main_img {
    width: 95%;
    padding: 0px 0px 0px 0px;
}

.category_text {
    display: block;
    float: left;
}

h2 {
    text-align: right;
    display: block;
}

.readmore {
    font-size: 0.5em;
    text-decoration: none;
}

.readmore:link {
    color: black;
}

.readmore:visited {
    color: black;
}

.readmore:hover {
    color: black
}

.readmore:active {
    color: black;
}

/*@media all and (min-width:1024px) {
    section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: 100%;
    }
    article:first-child {
        grid-column: 1 / 2;
        grid-row: 1;
    }
    article:nth-child(2) {
        grid-column: 2 / 4;
        grid-row: 1;
    }
    article:nth-child(3) {
        grid-column: 1;
        grid-row: 2 / 5;
    }
    article:nth-child(4) {
        grid-column: 3;
        grid-row: 3;
    }
}
*/
